<div class="">
    <p>支持接口单卖、数据库或数据单卖与批量销售，价格越高则代表质量越高/个人制作成本越高/稀有度越高</p>
    <p>*表示完全原创，~表示半原创(经过优化并扩展功能)，`表示原代码不可用或有问题经过个人的调整和修复，其它也全部经过个人优化。优化的部分接口中输出方式也统一改成了<i>JSON</i>输出，甚至JSON格式与状态码都是经过完全统一的，不像某些接口站像个傻逼一样搁那直接输出文本还他妈容易乱码也不方便程序调用，还有些他那破php报错都还在那也不管，页面他妈错位了也不管，一堆屎山和没用冗余代码也摆在那</p>
    <p>需要的话请联系我的邮箱<strong>biyuehuya@gmail.com</strong>以了解具体情况</p>
    <p>虚拟商品，一旦付款不支持退货</p>

    <hr>
	<li>**HULICoreApi管理核心系统源码 <strong style="color:red">150￥</strong></li>
	<li>不知道HULICore是什么?<a style="color:lightskyblue" href="/about" target="_blank">点击查看</a></li>
	<li>**HULIAPI整个网站源码(含HULICore) <strong style="color:red">300￥</strong></li>
	<hr>
	<li>*Pixiv图片(Seimg)接口 <strong style="color:red">4￥</strong></li>
	<li>*Pixiv图片(Seimg)数据库(非R18图片4.5w R18图片2.6w) <strong style="color:red">50￥</strong></li>
	<li>*HCB-HULI云黑(整套网站系统源码) <strong style="color:red">70￥</strong></li>
	<li>*HuHitokoto一言接口 <strong style="color:red">2￥</strong></li>
	<li>*HuHitokoto一言数据库 <strong style="color:red">15￥</strong></li>
	<li>*B站查成分小助手 <strong style="color:red">5￥</strong></li>
	<li>*实时卫星图 <strong style="color:red">1￥</strong></li>
	<li>*星座运势查询 <strong style="color:red">4￥</strong></li>
	<li>新年祝福页生成 <strong style="color:red">2￥</strong></li>
	<li>圣诞祝福页生成 <strong style="color:red">2￥</strong></li>
	<li>必应每日图 <strong style="color:red">1￥</strong></li>
	<li>~IP签名档 <strong style="color:red">25￥</strong></li>
	<li>*Bili昵称和头像获取 <strong style="color:red">5￥</strong></li>
	<li>COS图接口 <strong style="color:red">2￥</strong></li>
	<li>COS图数据 <strong style="color:red">15￥</strong></li>
	<li>二维码生成 <strong style="color:red">4￥</strong></li>
	<li>B站视频下载 <strong style="color:red">2￥</strong></li>
	<li>B站视频信息获取 <strong style="color:red">1￥</strong></li>
	<li>`姓名身份证匹配校验 <strong style="color:red">7￥</strong></li>
	<li>*历史上的今天 <strong style="color:red">4￥</strong></li>
	<li>`60秒带你读世界图片生成 <strong style="color:red">17￥</strong></li>
	<li>墙壁文字图片生成 <strong style="color:red">3￥</strong></li>
	<li>随机小姐姐视频接口 <strong style="color:red">2￥</strong></li>
	<li>随机小姐姐视频数据 <strong style="color:red">15￥</strong></li>
	<li>诱惑图接口 <strong style="color:red">2￥</strong></li>
	<li>诱惑图数据 <strong style="color:red">15￥</strong></li>
	<li>聊天AI <strong style="color:red">4￥</strong></li>
	<li>文字转语音 <strong style="color:red">1￥</strong></li>
	<li>查字 <strong style="color:red">2￥</strong></li>
	<li>*时间差计算 <strong style="color:red">1￥</strong></li>
	<li>身份证查询 <strong style="color:red">15￥</strong></li>
	<li>*B站用户追番信息获取 <strong style="color:red">15￥</strong></li>
	<li>`网易云音乐下载 <strong style="color:red">5￥</strong></li>
	<li>MCBE服务器信息查询 <strong style="color:red">15￥</strong></li>
	<li>`网易云音乐信息获取 <strong style="color:red">3￥</strong></li>
	<li>获取QQ昵称和头像 <strong style="color:red">3￥</strong></li>
	<li>随机谜语接口 <strong style="color:red">1￥</strong></li>
	<li>随机谜语数据 <strong style="color:red">7￥</strong></li>
	<li>`站长工具(坏了部分功能) <strong style="color:red">5￥</strong></li>
	<li>天气查询 <strong style="color:red">2￥</strong></li>
	<li>动漫图接口 <strong style="color:red">2￥</strong></li>
	<li>动漫图数据 <strong style="color:red">15￥</strong></li>
	<li>妹子图接口 <strong style="color:red">2￥</strong></li>
	<li>妹子图数据 <strong style="color:red">15￥</strong></li>
	<li>~base64加解密 <strong style="color:red">7￥</strong></li>
	<li>有道翻译 <strong style="color:red">1￥</strong></li>
	<li>*随机语录接口 <strong style="color:red">4￥</strong></li>
	<li>随机语录数据(全部) <strong style="color:red">20￥</strong></li>
	<li>农历 <strong style="color:red">2￥</strong></li>
	<li>*UUID获取 <strong style="color:red">2￥</strong></li>
	<li>色情文章 <strong style="color:red">20￥</strong></li>
	<li>~倒计时生成页 <strong style="color:red">5￥</strong></li>
	<li>`APP下载页生成 <strong style="color:red">3￥</strong></li>
	<li>`表白页生成 <strong style="color:red">3￥</strong></li>
	<li>`个人主页生成 <strong style="color:red">3￥</strong></li>
	<li>`网页跳转 <strong style="color:red">3￥</strong></li>
    <hr>
	<li>全套接口价格(不含数据与网站系统) <strong style="color:red">233￥</strong><small>(原价:246￥)</small></li>
	<li>全套数据价格 <strong style="color:red">145￥</strong><small>(原价:160￥)</small></li>
	<li>整套商品接口(不算HULICore，因为重复) <strong style="color:red">380￥</strong><small>(原价:406￥)</small></li>
    
    <br>
</div>