*.php            linguist-language=TypeScript

data/api/src/**/*.php            linguist-language=CPP
data/api/60s.php            linguist-language=CPP
data/api/idcard.php            linguist-language=CPP
data/api/lunar.php            linguist-language=CPP
data/api/motd.php            linguist-language=CPP
data/api/motdbe.php            linguist-language=C
data/api/mcskin.php            linguist-language=C
data/api/nameidcard.php            linguist-language=C
data/api/netease.php            linguist-language=C
data/api/riddle.php            linguist-language=C#
data/api/qrcode.php            linguist-language=C#
data/api/tieba.php            linguist-language=C#
usr/plugins/email/PHPMailer/**/*.php            linguist-language=C#
usr/theme/default/assets/**/*.js            linguist-language=Kotlin
usr/theme/default/assets/**/*.css            linguist-language=Kotlin
public/tool/**/*.js            linguist-language=Kotlin
public/tool/**/*.css            linguist-language=go
public/tool/**/*.php            linguist-language=go
