<div class="">
  <h3 style="color: deepskyblue">By Hotaru</h3>
  <p>
    <a href="/help.html" target="_blank"><mark>接口网站搭建教程</mark></a>
  </p>
  <p>
    首先，少tmd的说这是由别人模板搭的网站，API
    站模板到处都是我很清楚，但鄙站顶多套用了一下前端页面（写不出好看页面的屑），但也已魔改了多次。后台管理和API核心系统框架完全为自己开发，目前已开发完毕。此外本站对
    API
    接口标准与返回格式进行了高度统一，非图片视频类接口中除部分必要接口所需外，其它接口均为
    JSON
    格式（application/json）返回，返回格式与状态码也完全统一，方便程序调用（这里就不说某些返回个格式化的
    JSON 或者文本信息的脑瘫网站了）
  </p>
  <p>
    <li>
      本站提供稳定、快速、高效以及没有 bug 的 Http-Api 接口服务，本站的许多 API
      也均为站长个人制作
    </li>
    <li>
      别看着有几个付费接口，使劲上注册一个账号就会送大量量货币用于购买，且账号注册不限制数量，本质上还是免费接口
    </li>
    <li>
      欢迎用于各方面网站搭建/聊天机器人等多种用途，但如果可以的话还请表明本站出处最好了
    </li>
    <li>请勿恶意调用/爬取数据以及非法用途，每次调用均会记录详细的请求信息</li>
  </p>
  <br />
  <p>
    HULIAPI是基于本人原创的
    HULICore（API管理核心系统）的接口聚合网站，已断断续续的从 2021 年 6
    月份发展到了现在，现已开源。项目本身是非前后端分离项目，稳定性于性能未知，但毕竟又运行了这么久也将底层的系统（HULICore）重构了多次，<del
      >信心还是有的</del
    >
  </p>
  <p>
    HULICore（接口管理核心系统）是基于原生 PHP
    制造一整套框架，主要封装了数据库操作、伪静态路由、功能函数等功能，框架遵守
    MVC 架构，应用实例由 Controller 控制器、Model 模型、View
    视图三部分组成，并在一定基础上参考了 typecho，有着主题 Theme 与插件 Plugin
    两样用户级功能
  </p>
  <br />
  <h4>本站用到的技术栈:</h4>
  <p>前端:</p>
  <li style="color: cyan">
    <strong
      >html、css、JavaScript、Bootstrap、Layui、Jquery、Echarts、highlight、highlight-line-numbers</strong
    >
  </li>
  <p>后端:</p>
  <li style="color: chartreuse"><strong>Php、Mysql</strong></li>
</div>
